/* Journey Into Mobile */

/* 1.1 Mobile Web Demo */
body {
  font-size: 62.5%; /* 1em = 10px, default font-size for a browser is 16px */
}

/* 1.2 Set Heading Font Size */
h1 {
  font-size: 2.4em; /* 24px */
}

/* 1.3 Set Heading Emphasis Font Size */
h1 a {
  font-size: .666666em; /* 16px 16/24 (target/context) */
}

/* 1.4 View Your Changes */
h1 {
  font-size: 4.375em;
}
h3 {
  font-size: 2.5em;
}

/* 2.1 Set Width Of Sidebar */
.sidebar {
  width: 41.666666%; /* 400px 400/960*100 (target/context) */
}

/* 2.2 Set Width Of Content */
.content {
  width: 59.8958333%;
}

/* 2.3 Determine The Context #1 */
header h1 {}

/* 2.4 Determine The Context #2 */
.container .content {}

/* 2.5 Convert To Percentage */
.content {
  width: 57.291666%;
}

/* 2.6 Set Margin Of Content */
.content {
  margin-right: 39.583333%; /* 380/960*100 */
}

/* 2.7 Set Padding Of Content */
.content {
  padding: 5.5357143%; /* 31/560*100 */
}

/* 3.1 IPhone Media Query */
@media screen and (max-width: 320px) {}

/* 3.2 Media Query 2 */
@media screen and (max-width: 320px) {
  .logo {
    float: none;
    width: inherit;
  }
  nav {
    float: none;
    text-align: center;
    width: inherit;
  }
}

/* 3.3 Media Specific Content */
@media screen and (max-width: 320px) {
  .content {
    float: none;
    width: inherit;
  }
  .sidebar {
    float: none;
    width: inherit;
  }
}

/* 3.4 Media Specific Navigation */
@media screen and (max-width: 320px) {
  nav ul li {
    font-size: .8125em;
    margin-right: 5%;
    text-transform: uppercase;
  }
}

/* 4.1 Find The Breakpoint */
@media screen and (max-width: 850px) {}

/* 4.2 Media Specific Header */
@media screen and (max-width: 850px) {
  h1 {
    font-size: 3.125em;
    line-height: .6em;
  }
}

/* 4.3 Reposition Nav */
@media screen and (max-width: 850px) {
  nav {
    margin-top: 20px;
  }
  nav ul li {
    font-size: .875em;
  }
}

/* 4.4 Reposition Banner */
@media screen and (max-width: 850px) {
  .banner-caption {
    bottom: 0;
    width: 100%;
  }   
}

/* 4.5 Find The Next Breakpoint */
@media screen and (max-width: 720px) {}

/* 4.6 Resize h1*/
@media screen and (max-width: 720px) {
  h1 {
    font-size: 4.375em; /* 70px/16px */
    line-height: .571428571em; /* 40px/70px */
  }
}

/* 4.7 Fix Header */
@media screen and (max-width: 720px) {
  nav ul li {
    font-size: 1.125em;
  }
  .banner {
    height: 250px;
  }
}

/* 5.1 Max-width */
img {
  max-width: 100%;
}

/* 5.2 Max-width On Assets */
img, 
embed, 
object,
video {
  max-width: 100%;
}

/* 5.2 Media Query 1 */
@media
only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5) {}

/* 5.3 Media Query 2 */
@media
only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5) {
  .logo {
    background-image: url(logo@2x.png);
    -webkit-background-size: 75px 75px;
    background-size: 75px 75px;
  }
}

/* 5.4 Picture Element */
<picture alt="Our Camp Site">
  <source src="camp-site.jpeg" />
</picture>

/* 5.6 Media Specific Images */
<picture alt="Our Camp Site">
  <source src="camp-site.jpeg" />
  <source src="camp-site-lrg.jpeg" media="(min-width: 900px)" />
</picture>

/* 5.7 Noscript Fallback */
<picture alt="Our Camp Site">
  <source src="camp-site.jpeg" />
  <source src="camp-site-lrg.jpeg" media="(min-width: 900px)" />
  <noscript>
    <img src="camp-site.jpeg" alt="Our Camp Site" />
  </noscript>
</picture>
