/* Journey Into Mobile */

/* 1.1 Mobile Web Demo */
body {
  font-size: 62.5%; /* 1em = 10px, default font-size for a browser is 16px */
}

/* 1.2 Set Heading Font Size */
h1 {
  font-size: 2.4em; /* 24px */
}

/* 1.3 Set Heading Emphasis Font Size */
h1 a {
  font-size: 0.666666em; /* 16px 16/24 (target/context) */
}

/* 1.4 View Your Changes */
h1 {
  font-size: 4.375em;
}
h3 {
  font-size: 2.5em;
}

/* 2.1 */
